<div class="container">
 	<div class="row">
		<div id="character-list">
			<h1><%%= name %></h1>
			<img width="50px" height="auto" src="<%%= image %>">
			<p><span>TEAM FRIENDS:</span> <%%= friends %></p>
			<p><span>POWERS:<%%= powers %></span></p>
		</div>
	</div>
</div>
	    