<div class="row">
	<div id="opponent" class="four columns">
		<span><p>YOUR OPPONENT: <%%= name.toUpperCase() %></p></span>

		<div class="health-border">
			<div id="opponent-health-meter">
				<%=image_tag("skullbones.png", :class => "health-image")%>
			</div>
		</div><br>

		<img class="character-image" width="175px" height="auto" src="<%%= image %>">
	</div>
</div>

