<div class="row">
	<div id="opponent" class="four columns">
		<span><p>Your Opponent: <%%= name %></p></span>

			<div id="opponent-health-meter">
				<%=image_tag("skullbones.png", :class => "health-image")%>
			</div><br>

		<img class="character-image" width="175px" height="auto" src="<%%= image %>">
	</div>
</div>

