<div class="row">
	<div id="opponent-health-meter" class="four columns">Health Meter</div><br>
	<div id="opponent" class="four columns">
		<span><p>Your Opponent: <%%= name %></p></span>
		<img width="200px" height="auto" src="<%%= image %>">
	</div>
</div>

