<div class="row">

	<div id="results" class="four columns">
		<span><p>YOUR CHARACTER: <%%= name.toUpperCase() %></p></span>

			<div id="character-health-meter">
				<%=image_tag("skullbones.png", :class => "health-image")%>
			</div><br>

		<img class="character-image" width="175px" height="auto" src="<%%= image %>">
	</div>
</div>

