<div class="row">
	<div id="results" class="four columns">
		<div id="buttons">
			<button class="character-action" id="power-button">Use Power</button>
			<button class="character-action" id="friend-button">Call for Friends!</button>
			<button class="character-action" id="help-out-button">Help Out</button>
		</div>

		<p>Your Character</p>
		<span><p><%%= name %></p></span>

		<img width="200px" height="auto" src="<%%= image %>">
		<br>
	</div>
</div>

