<div id="results">
		<p>Your Character</p>
		<h1><%%= name %></h1>

		<img width="200px" height="auto" src="<%%= image %>">

		<div id="buttons">
			<button class="character-action" id="power-button">Use Power</button>
			<button class="character-action" id="friend-button">Call for Friends!</button>
			<button class="character-action" id="help-out-button">Help Out</button>
		</div>
</div>

