<div class="row">
	<div id="character-health-meter" class="four columns">Health Meter</div><br>
	<div id="results" class="four columns">
		<span><p>Your Character: <%%= name %></p></span>
		<img width="200px" height="auto" src="<%%= image %>">
	</div>
</div>

