
<div id="welcome-image"></div>

<div class="container">
	<div class="row">
		<div id="title">
			<h1>COMIC SMASH UP!</h1>
		</div>
	</div>
	<img id="zap" src="/assets/zap.png">
	<img id="bang" src="/assets/bang.png">
	<img id="pow" src="/assets/pow.png">
</div>
<div id="message">
	<h5>PICK YOUR FAVORITE COMIC BOOK CHARACTER. MAKE YOUR MOVES. WATCH THE BATTLE UNFOLD!</h5>
	<button id="play">CLICK TO PLAY</button>
</div>


