
<%= form_tag("/search", method: "get", :id => 'search') do %>
  <%= label_tag("Choose your comic book character:") %>
  <%= text_field_tag 'query', '', placeholder: '...Wolverine?' %>
  <%= submit_tag("Go!") %>
<% end %>

<div id="clearfix home">

	<div class='chosen-character'>
	</div>

	<div class='opponent-character'>
	</div>

	<div class='story-results'>
	</div>

	<div id='character-index'>
	</div>

</div>

<script>
	var characterCollection = new CharacterCollection(),
		router;	
	characterCollection.fetch().done(function(){
		router = new Router({
			collection: characterCollection, 
			$el: $('.character-index')
		});
		Backbone.history.start();
	});
</script>