

<div id="buttons">
	Choose an action to start building out your story:
	<button class="character-action" id="power-button">Use Power</button>
	<button class="character-action" id="friend-button">Call for Friends!</button>
	<button class="character-action" id="help-out-button">Help Out</button>
</div>

<div class="row">
	<div id="content" class="twelve columns">

			<div id="chosen-character" class="four columns">
			</div>

			<div id="opponent-character" class="four columns">
			</div>

			<div id="story-results" class="four columns">
			</div>
	</div>
</div>




