<!-- <h2>Characters Used</h2>

	<ul class="characters">
		<li><%%= name %><li>
	</ul>
	    
<script>
	var characterCollection = new CharacterCollection();
	
	characterCollection.fetch().done(function(){
		var characterRouter = new Router({
	  		collection: characterCollection
		});
	});
	Backbone.history.start();
</script> -->