body {
	background: #FFF8DC;
	font-family: 'Combo', cursive;
	height: 100%;
    margin-bottom: 30px;
    padding: 10px;
}

.header {
    height: 30px;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: black;
    padding: 10px;
    color: white;
    font-size: 25px;
	font-family: 'Permanent Marker', cursive;
	}
	div {
		display: inline-block;
	}
	h1 {
		float:left;
	}
	#navigation {
	div {
		display: inline-block;
		float: right;
		font-family: arial;
		font-size: 15px;
	}
}
form {
	color: black;
}
h1 {
	font-family: 'Permanent Marker', cursive;
}
h2 {
	color: black;
}
p {
	color: black
}
.opponent-character {
	float: left;
	width: 300px;
}
#opponent {
	float: left;
	width: 300px;
}
.chosen-character {
	float: left;
	width: 300px;
}
#results {
	float: left;
	width: 300px;
}
.story-results {
	height: 400px;
	width: 500px;
	overflow-y: scroll;
	background-color: white;
	display: none;
	float: left
}
#results {
	.attribute {
		border: 1px lightgray solid;
		padding: 5px;
		margin: 5px 0;
		background: white;
		width: 300px;
		max-height: 200px;
		height: auto;
		overflow-y: scroll;
	}
	.bold {
		text-decoration: bold;
		color: red;
	}
}
#buttons {
	display:none;
}
span {
	p {
		color: red;
	}
}

/*clear fix*/

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */